.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper .modal-header {
  padding: 0;
}

.show-modal {
  cursor: pointer;
}

.modal-body {
    max-height: calc(100vh - 250px);
    overflow-y: scroll;
    
    .form-group {
      display: inline-block;
      width: 100%;
    }
    &.design-body {
      max-height: 300px;
    }

}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
    width: 90%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    z-index: 9999999;
    max-width: 1200px;
}

.create-a-league .modal-container {
  width: 840px;
  padding: 0;
}

.modal-header h3 {
    margin-top: 0;
    color: #000;
    font-size: 26px;
}

.modal-body {
    padding: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-footer {
    padding: 15px 0;
}

.table-bordered > tbody > tr > td.vuetable-sequence {
    width: auto;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}